/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  // @import ‘bootstrap’;
body {
  width: 100%;
  margin: 0;
  background-color: #fff;
  color: #333;
  // margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.container {
  min-height: calc(100vh - 70px);
}

.header-wrapper {
  background-color: #24292e;
  display: flex;
  width:100%;
  height:6%;
  margin-left: -8px;
  position:fixed;
  top:0px;
}

#logo {
display: flex;
color: white;
width: auto;
height: 20%;
font-size: 2em;
padding-left: 5%;
}

#search-bar {
  display: flex;
  float: right;
  font-size: 9px;
  padding: 6px;
  border: none;
  margin-top: 11px;
  margin-right: 20px;
  padding-left: 1%;
  margin-left: 20%;
  height: 2em;
  width: 20%;
  margin-top: 11px;
  border-radius: 5px;
}

.footer {
  height: 50px;
  background-color: #24292e;
  color: #f0f0f0;
  padding-left: 40%;

}
