/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  // @import "bootstrap-sprockets";
  // @import "bootstrap";
  // @import 'bootstrap/theme'

  body {
    width: 100%;
    margin: 0;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
  }


  .container {
    float: left;
    padding-top: 3%;
    margin-top: 9%;
    width: 65%;
  }

  .header-wrapper {
    background-color: #24292e;
    display: flex;
    width: 103%;
    height:8%;
    position:fixed;
  }

  #logo {
    display: flex;
    color: white;
    font-size: 2em;
    padding-left: 5%;
  }

  #search-bar {
    display: flex;
    float: right;
    font-size: 9px;
    padding: 6px;
    border: none;
    margin-top: 25px;
    margin-right: 20px;
    padding-left: 1%;
    margin-left: 20%;
    height: 2em;
    width: 20%;
    border-radius: 5px;
  }

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

/* Float the list items side by side */
ul.nav li {
  float: left;
}

/* Style the links inside the list items */
ul.nav li a {
  display: inline-block;
  text-align: center;
  padding: 24px 38px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}


table {
  margin-left: 3%;
  width: 127%;
}

.content {
  height: auto;
  margin-left: 3px;
}

#post_title {
  width: 75%;
  border-radius: 6px;
  border-color: #f9f9f9;
  border-style: groove;
  margin-left: 25%;
}

#post_body {
  height: 17em;
  margin-top: 3%;
  border-radius: 6px;
  border-color: #d2d2d2;
  border-style: groove;
  margin-left: 25%;
  width: 75%;
}

  footer {
   height: 33px;
   background-color: #24292e;
   color: #f0f0f0;
   padding-left: 40%;
   padding-top: 1px;
   padding-bottom: 23px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

  }
