// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-title {
  width: 74%;
  border-radius: 6px;
  border-color: #f9f9f9;
  border-style: groove;
  margin-left: 25%;
}

.show-body {
  height: 19em;
  margin-top: 3%;
  border-radius: 6px;
  border-color: #f9f9f9;
  border-style: groove;
  margin-left: 25%;
}

.edit-back-link {
  margin-left: 20%;
  padding-top: 1%;
}

.new-back {
  padding-top: 35%;
}

h4 {
  font-weight:normal;
  margin-left: 50%;
}
